body {
    background-color: black;
    color: white;
    /* height: 1000px; */
}

h1, h4 {
    font-weight: bold;
}
h1 {
    color: #0063DC;
}

h4 {
    color: #FF0084;
}

.search-bar {
    display: flex;
}